
   .status{
            font-weight: bold;
            }
   .Healthy{
            color: limegreen;
            }
   .Degraded{
            color: orangered;
            }
   .Unhealthy{
       color: darkred;

   }

